@model IndexViewModel

@{
    ViewData["Title"] = $"Home Page - {Model.OrganizationName}";
}

@section Styles {
    <link href="~/Styles/jquery.orgchart.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/Scripts/jquery.orgchart.js"></script>
    <script src="~/Scripts/index.js"></script>
}

<div class="mb-3">
    <h1>
        @Model.OrganizationName
    </h1>

    <h2>Departments chart</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body overflow-auto">
                <div id="orgChart"></div>
            </div>
        </div>
    </div>
</div>
